---
---

@import "{{ site.theme }}";

body {
    background-color: #fffefe !important;
}

section {
    width: 800px !important;
}

.wrapper {
    width: 1160px !important;
}

iframe.autosize {
    width: 1px;
    min-width: 100%;
}

iframe.tbi {
    width: 0px;
    height: 0px;
    border: 0;
    visibility: hidden;
}
