---
---

@import "{{ site.theme }}";
body {
    background-color: #fffefe !important;
}

section {
    width: 800px !important;
}

.wrapper {
    width: 1160px !important;
}

iframe {
    width: 1px;
    min-width: 100%;
}
