---
---

@import "{{ site.theme }}";
body {
    background-color: #fffefe !important;
}

section {
    width: 800px !important;
}

.wrapper {
    width: 1160px !important;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 190px;
   position: absolute;
   top: 0;
   width: 100%;
}
