name: check go format

on:
  push:
    branches: [ master ]
    paths:
      - '**.go'
      - '**/go.mod'
      - '**/gofmt.yml'
  pull_request_target:
    branches: [ master ]
    paths:
      - '**.go'
      - '**/go.mod'

jobs:
  gofmt:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: [1.15]
        os: [ubuntu-latest]
    name: check go format
    defaults:
      run:
        shell: bash
    steps:
      - name: setup go ${{ matrix.go-version }}
        uses: actions/setup-go@v2.1.3
        with:
          go-version: ${{ matrix.go-version }}
      - name: "get golang version"
        run: echo "::set-env name=golang-version::$(go version)"
      - uses: actions/cache@v2.1.3
        with:
          path: ~/go
          key: ${{ runner.os }}-go-${{ env.golang-version }}
      - name: installing golines
        run: go get -u github.com/segmentio/golines
      - uses: actions/checkout@v2.3.4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PAT }}
      - name: running golines
        run: golines --max-len=120 --reformat-tags --write-output .
      - name: creating pull request
        if: ${{ github.head_ref == '' }}
        uses: peter-evans/create-pull-request@v3.8.0
        with:
          commit-message: 'style(format): reformat with golines'
          title: 'style(format): reformat golang code'
          body: |
            This pull requests deploys updates the code style using [golines](https://github.com/segmentio/golines).
          labels: |
            style
            chore
          branch: gofmt
      - name: committing changed files
        id: committed
        if: ${{ github.head_ref != '' }}
        uses: stefanzweifel/git-auto-commit-action@v4.4.1
        with:
          commit_message: 'style(format): reformat with golines'
          branch: ${{ github.head_ref }}
          file_pattern: '*.go'
      - uses: christianvuerings/add-labels@v1.1
        if: ${{ steps.committed.outputs.changes_detected == 'true' }}
        with:
          labels: |
            style
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
